@model IEnumerable<Neveroyatno.Models.Lecture>

<h2>Лекции</h2>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lecture in Model)
        {
            <tr>
                <td>@lecture.Title</td>
                <td>
                    <a asp-action="Details" asp-route-id="@lecture.Id">Просмотр</a>
                    @if (User.IsInRole("Преподаватель"))
                    {
                        <text>
                            |
                            <a asp-action="Edit" asp-route-id="@lecture.Id">Редактировать</a>
                            |
                            <a asp-action="Delete" asp-route-id="@lecture.Id">Удалить</a>
                        </text>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Преподаватель"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Добавить новую лекцию</a>
    </p>
}
